<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZhonyaS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png')}}">

        <!-- Titre de la page -->
        <meta property="og:title" content="ZhonyaS" />
      
        <!-- Description de la page -->
        <meta property="og:description" content="Are you looking for an efficient tool to scout a player's performance before a scrim, tournament, or Clash? ZhonyaS is here to help. Using Riot Games' API, it fetches a player’s game history from June 2021 to the present and provides a comprehensive summary of their performance." />
      
        <!-- URL de l'image pour la thumbnail -->
        <meta property="og:image" content="./readme_image/home.png" />
      
        <!-- Type de contenu, ici une page -->
        <meta property="og:type" content="website" />
      
        <!-- URL canonique de la page -->
        <meta property="og:url" content="http://88.162.107.181:49153/" />
      
</head>
<body>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="https://github.com/YuToutCourt/ZhonyaS" target="_blank">GitHub</a>
        </div>
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo" class="logo">
        </a>
        <div class="search-bar">
			<form method="POST" action="/search">
				<input type="text" class="searchP" placeholder="Username#Tag..." id="name" name="name" required>
				<button class="btn">Search</button>
			</form>
        </div>
    </div>
{% block body %}{% endblock %}
</body>
</html>