<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZhonyaS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png')}}">

</head>
<body>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="#">GitHub</a>
        </div>
        <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo" class="logo">
        <div class="search-bar">
			<form method="POST" action="/search">
				<input type="text" class="searchP" placeholder="Username#Tag..." id="name" name="name" required>
				<button class="btn">Search</button>
			</form>
        </div>
    </div>
{% block body %}{% endblock %}
</body>
</html>