{% extends 'base.html' %}

{% block body %}

<div class="hero">
	<img src="{{ url_for('static', filename='images/BIG_BRAUM.png')}}" alt="League of Legends Illustration">
	<div class="content">
		<h1>ZhonyaS</h1>
		<p>Have you always wanted a tool to quickly scout a player before a scrim, tournament, or Clash?
			ZhonyaS is here for you. Using Riot Games' API, it retrieves all games of any player from June 2021 to the present. And get a summary of the player!</p>
		<div class="search-bar">
			<form method="POST" action="/search">
				<input type="text" class="searchP" placeholder="Username#Tag..." id="name" name="name" required>
				<button class="btn">Search</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}